body{
    padding: 0;
    margin: 0;
    /*background-color: #16A34A;*/
    /*background-image: url(/frontend/images/green.jpeg);*/
    background-color: rgb(15 23 42);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}

/*.main-container{
    display: flex;
    justify-content: center;
}*/

.login-container {
    background-color: rgba(72, 72, 72, 0.592);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #16A34A;
    font-size: 30px;
}

.login-container input, 
.login-container select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container .login-btn {
    background-color: #16A34A;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    width: 90%;
    margin-right: 19px;
    font-weight: bold;
}

.create-account{
    padding: 10px;
    border: 2px solid #16A34A;
    width: 90%;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}

.create{
    text-decoration: none;
    color: #16A34A;
    font-weight: bold;
}

#togglePassword{
    filter: brightness(0%) contrast(100%);
    width: 17px;
    position: relative;
    right: -360px;
    top: -52px;
    cursor: pointer;
}

.main-head{
    text-align: center;
    color: white;
    margin: 0px 0px 10px 0px;
}

.money-cont{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: last baseline;
}

.money-cont #moneyCont .money{
    width: 60px;
}

/*.about-bulb{
    height: 50px;
    filter: brightness(0%) contrast(100%);

}*/

.the-p-tag{
    color: white;
    font-weight: bold;
}

input{
    font-weight: bold;
}

#password{
    margin-bottom: 20px;

}

footer{
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 41%;
}
